
services:
  backend:
    build: ./backend
    container_name: image_enhancer_backend
    ports:
      - "8001:8000"
    volumes:
      - ./backend:/app
    restart: always

  frontend:
    build: ./frontend
    container_name: image_enhancer_frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
    restart: always
